* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#produto {
  padding: 20px;
  
}



.produto-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  background-color: rgb(214, 212, 212);
  min-height: 100vh;  /* ocupa altura da tela */
  width: 100vw;       /* ocupa toda a largura da tela */
}

.Imagem img {
  max-width: 100%;
}

.Imagem img {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
}

.texto {
  margin-bottom: 15px;
  color: #222;
  padding: 30px;
}
