* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#missão
{
   min-height: 80vh;
}

.missao-visao-valores h2 {
  width: 100%;
  margin: 0 auto 40px auto;
  text-align: center;
  font-weight: bold;
  font-size: 2.2rem;
  display: block;
}


.missao-visao-valores h3 {
  width: 100%;
  margin: 20px auto;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}

.missao-visao-valores p,
.missao-visao-valores ul {
  color: #555;
  line-height: 1.5;
  margin-top: 0;
}

.missao-visao-valores ul {
  padding-left: 20px;
  text-align: left;
}


.mvv {
  display: flex;
  
  justify-content: center;
}

.missao {
  width: 20%;
  margin: 10px;
  text-align: center;
}

.visao {
  width: 20%;
  margin: 10px;
  text-align: center;

}

.valores {
  width: 20%;
  margin: 10px;
  text-align: center;

}

.icone-mvv,
.icone-mvv2,
.icone-mvv3 {
  width: 60px;
  height: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto 10px auto;
   margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .icone-mvv,
  .icone-mvv2,
  .icone-mvv3 {
    width: 50px !important;
  }

  .mvv {
    flex-direction: column;
    align-items: center;
  }

  .linha-vertical {
    display: none;
  }

  .missao, .visao, .valores {
    width: 80%;
  }

}