
.grid-qs{
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 20px;
}

.linha-verde {
  border-color: lightgreen;
  margin: 5px;
  min-width: 15%;
  justify-self: left;

}

#column{
 text-align: center;
 margin: 3%;
}

#desc{
padding: 20px;
text-align: justify;
color: #555;
font-size: large;
}

#column > img{
    height: 30vw;
}

#Titulo{
    text-align: left;
    color: black;
}

@media (max-width: 768px) {
.grid-qs{
    flex-direction: column;
}

#column{
    width: 80vw;
}
#column > img{
    height: 100%;
}
}