

#contato {
  height: 80vh;
  padding: 5%;
  text-align: center;
}

#formulario {
  object-fit: cover;
  gap: 0;
}

#contato-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}
#contato-card{
  min-width: 30vw;
}

#mensagem {
  resize: none;
  min-height: 30%;
}

#contato-conteudo {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
  /* padding: 20px; */
}

#contato-container,

#contato-container form {
  display: flex;
  flex-direction: column;
}

#formulario input,
#formulario textarea {
  width: 80vw;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
}


#contato h2 {
  text-align: center;
  margin-bottom: 20px;
}

.linha-vertical {
  width: 1px;
  background-color: green;
}

#form {
  padding: 20px;
}

#contato-mapa {
  margin: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#mapa {
  width: 90vw;
  height: 30vh;
  padding: 10px;
  
}

@media only screen and (max-width: 1024px) {
  .linha-vertical {
    width: 0px;
    margin: 0;
    padding: 0;
  }

}