* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#missão {
  padding: 80px 0 40px 0; /* aumentou o padding-top para 80px */
  box-sizing: border-box;
}

body {
  overflow-y: auto;
  background-color: aliceblue;
}


.missao-visao-valores-container { 
  min-height: 80vh; /* ocupa pelo menos 100% da altura da tela */
  display: center;
  flex-direction: column;
  margin-top: 15vh;
  margin-bottom: 10vh;
}

.missao-visao-valores h2 {
  width: 100%;
  margin: 0 auto 40px auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
  display: block;

}

.missao-visao-valores {
  text-align: center; 
}


.missao-visao-valores h3 {
  width: 100%;
  margin: 20px auto;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
}

.missao-visao-valores p,
.missao-visao-valores ul {
  color: #555;
  line-height: 1.5;
  margin-top: 0;
  font-size: 1.1rem;
  text-align: center;
}

.missao-visao-valores ul {
  padding-left: 20px;
  text-align: left;
  line-height: 1.5;
}


.mvv {
  display: flex;
  
  justify-content: center;
}

.missao {
  width: 20%;
  margin: 10px;
  text-align: center;
}

.visao {
  width: 20%;
  margin: 10px;
  text-align: center;

}

.valores {
  width: 20%;
  margin: 10px;
  text-align: center;

}

.icone-mvv,
.icone-mvv2,
.icone-mvv3 {
  width: 60px;
  height: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto 10px auto;
   margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .icone-mvv,
  .icone-mvv2,
  .icone-mvv3 {
    width: 50px !important;
  }

  .mvv {
    flex-direction: column;
    align-items: center;
  }

  .linha-vertical {
    display: none;
  }

  .missao, .visao, .valores {
    width: 80%;
  }

}