*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#header{
    background-color: white;
    margin: 10px;
}

hr{
    margin: 0;
    padding: 0;
}

nav{
display: flex;
height: 10vh; 
justify-content: space-between;
}
#itens{
    margin-right: 10%;
    display: flex;
align-items: center;

}
a{
    padding: 20px;
    text-decoration: none;
    color: inherit;
    
}
a:active{
    color: green;     
}
