*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

#content{
  height: 70vh;              /* ocupa a altura da tela */
  display: flex;
  position: relative;
  flex-direction: column;     /* empilha os itens verticalmente */
  justify-content: center;    /* centraliza verticalmente */
  align-items: center;        /* centraliza horizontalmente */
  text-align: center;         /* para o texto ficar centralizado */
  gap: 20px;                  /* espaço entre a imagem e o título */
  background-color: #F2F2F2;
}
.leavesBackground{
  width: 80vh;
  position: absolute;
  z-index: 2;
}


.title {
  display: block;
  width: 100vw; /* ocupa toda a largura da viewport */
  margin: 0;
  padding: 0;
  text-align: center; /* centraliza o texto dentro da largura total */
  background-color: rgba(255, 255, 255, 0.6); /* ou qualquer cor que quiser */
  font-size: xx-large;
}
.linefill{
  z-index: 2;
}
.linegreen{
    border-color: lightgreen;
    margin: 5px;
    min-width: 25%;
    justify-self: center;

}


#headline{
    max-width: 40%;
    
}
.grid-qs{
    display: flex;
    align-items: center;
    gap: 40px;
}
.side {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  flex: 1;
}
#headline {
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centraliza verticalmente dentro da div */
  align-items: center;
  min-width: 50vh;
}
#quem-somos {
  padding: 40px;
  background-color: #f4f4f4;
  
  
}
.image-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;  /* empurra a imagem para a direita da área dela */
}

.image-wrapper img {
  max-width: 50vh;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* #contato-conteudo{
 display: flex;   
 justify-content: center;
} */


#formulario{
    object-fit: cover;
    gap: 0;
} 

#contato-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
#mensagem{
  resize: none;
  min-height: 30%;
}
#contato-conteudo {
  display: flex;
  justify-content: center;
  gap: 40px;               
  flex-wrap: wrap;         
  padding: 20px;
}

#contato-container,

#contato-container form {
  display: flex;
  flex-direction: column;
}

#formulario input,
#formulario textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
}


#contato h2 {
  text-align: center;
  margin-bottom: 20px;
}
.linha-vertical{
width: 1px; 
background-color: green;
}
@media only screen and (max-width: 768px) {
    .linha-vertical{
      width: 0px;
    }
  
}

#form{
  padding: 20px;
}
#contato-mapa {
  margin: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
#mapa{
  width: 100vh;
  height: 30vh;
}