<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="CSS/headerStyle.css">
</head>

<body>
  <div id="header">
    <nav>
      <img src="Imagens/logoArapiraca.png" alt="Logo Arapiraca">
      <div id="itens">
        <a href="#" class="nav-link" data-page="../PAGES/home.html">HOME</a>
        <a href="#" class="nav-link" data-page="../PAGES/headline.html">QUEM SOMOS</a>
        <a href="#" class="nav-link" data-page="../PAGES/Galeria.html">GALERIA</a>
        <a href="#" class="nav-link" data-page="../PAGES/Produtos.html">PRODUTOS</a>
        <a href="#" class="nav-link" data-page="../PAGES/Contato.html">CONTATO</a>
      </div>
      <div id="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
  </div>
</body>

</html>